table {
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid white;
}

thead > tr {
  background-color: rgb(190, 106, 50);
}

tr:nth-child(even) {
  background-color: rgb(83, 59, 14);
}

form {
  background-color: rgba(97, 36, 8, 0.438);
}